{% extends "layout.html" %}

{% block title  %}

  Change Password

{% endblock %}


{% block heading %}

  Change Password

{% endblock %}


{% block main %}
<div class="conatiner-fluid content-inner mt-n5 py-0">
  <div class="row">
    <div class="col-12 ">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title">Change Password</h4>
                </div>
            </div>
            <div class="card-body">
              <form class="user" action="/change" method="POST">
                <label class="form-label mt-3" for="old-pwd">Old Password:</label>
                <input type="password" class="form-control" name="old-pwd" aria-describedby="emailHelp" required>
                <label class="form-label mt-3" for="new-pwd">New Password:</label>
                <input type="password" class="form-control" name="new-pwd" required>
                
                <label class="form-label mt-3" for="new-pwd-again">Confirm Password:</label>
                <input type="password" class="form-control form-control-user" name="new-pwd-again"required>
                
                <button type="submit" class="btn btn-primary mt-3">Change Password</button>
              </form>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}