
{% extends "layout.html" %}

{% block title %}

    Add Products

{% endblock %}
{% block heading %}

    Add Products

{% endblock %}


{% block main %}
<div class="conatiner-fluid content-inner mt-n5 py-0">
  <div class="row">                
      <div class="col-sm-12 col-lg-12">
          <div class="card">
              <div class="card-header d-flex justify-content-between">
              <div class="header-title">
                  <h4 class="card-title">Add Products</h4>
              </div>
              </div>
              <div class="card-body">
              <form id="form-wizard1" class="mt-3 text-center user" action="/productv" method="POST">
                  <ul id="top-tab-list" class="p-0 row list-inline">
                      <li class="mb-2 col-lg-4 col-md-6 text-start active" id="account">
                          <a href="javascript:void();">
                              <div class="iq-icon me-3">
                                  <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="20" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z" />
                                  </svg>                                        
                              </div>
                              <span class="dark-wizard">Product Detail</span>
                          </a>
                      </li>
                      <li id="personal" class="mb-2 col-lg-4 col-md-6 text-start">
                          <a href="javascript:void();">
                              <div class="iq-icon me-3">
                                  <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="20" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                                  </svg>
                              </div>
                              <span class="dark-wizard">Stock Details</span>
                          </a>
                      </li>
                      <li id="payment" class="mb-2 col-lg-4 col-md-6 text-start">
                          <a href="javascript:void();">
                              <div class="iq-icon me-3">
                                  <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="20" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z" />
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13a3 3 0 11-6 0 3 3 0 016 0z" />
                                  </svg>
                              </div>
                              <span class="dark-wizard">Finish</span>
                          </a>
                      </li>
                      
                  </ul>
                  <!-- fieldsets -->
                  <fieldset>
                      <div class="form-card text-start">
                          <div class="row">
                          <div class="col-7">
                              <h3 class="mb-4">Product Details:</h3>
                          </div>
                          <div class="col-5">
                              <h2 class="steps">Step 1 - 3</h2>
                          </div>
                          </div>
                          <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label class="form-label">Product Name: *</label>
                                  <input type="text" class="form-control" name="product-name" placeholder="Product Name" required />
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label class="form-label">Part Number: *</label>
                                  <input type="text" class="form-control" name="part-number" placeholder="Part Number" required />
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label class="form-label">Product Label: *</label>
                                  <input type="text" class="form-control" name="product-label" placeholder="Label" />
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label class="form-label">Inventory On Hand: *</label>
                                  <input type="number" class="form-control" name="inventory-on-hand" placeholder="Inventory On Hand">
                              </div>
                          </div>
                          </div>
                      </div>
                      <button type="button" name="next" class="btn btn-primary next action-button float-end" value="Next" >Next</button>
                  </fieldset>
                  <fieldset>
                      <div class="form-card text-start">
                          <div class="row">
                          <div class="col-7">
                              <h3 class="mb-4">Inventory Information:</h3>
                          </div>
                          <div class="col-5">
                              <h2 class="steps">Step 2 - 3</h2>
                          </div>
                          </div>
                          <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label class="form-label">Inventory Starting: *</label>
                                  <input type="number" class="form-control" name="starting-inventory" placeholder="Starting Inventory" required />
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label class="form-label">Inventory Received: *</label>
                                  <input type="text" class="form-control" name="inventory-in" placeholder="Inventory Received" required />
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label class="form-label">Inventory Shipped: *</label>
                                  <input type="text" class="form-control" name="inventory-out" placeholder="Inventory Shipped" required>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label class="form-label">Minmimum Required: *</label>
                                  <input type="text" class="form-control" name="minimum-req" placeholder="Minimum Required" required>
                              </div>
                          </div>
                          </div>
                      </div>
                      <button type="button" name="next" class="btn btn-primary next action-button float-end" value="Submit" >Submit</button>
                      <button type="button" name="previous" class="btn btn-dark previous action-button-previous float-end me-1" value="Previous" >Previous</button>
                  </fieldset>
                  <fieldset>
                      <div class="form-card">
                          <div class="row">
                          <div class="col-7">
                              <h3 class="mb-4 text-left">Finish:</h3>
                          </div>
                          <div class="col-5">
                              <h2 class="steps">Step 4 - 4</h2>
                          </div>
                          </div>
                          <br><br>
                          <h4 class="text-center text-success"><strong>SUCCESS !</strong></h4>
                          <br>
                          <div class="row justify-content-center">
                          <div class="col-3"> <img src="/static/assets/images/pages/img-success.png" class="img-fluid" alt="fit-image" width="50%;"> </div>
                          </div>
                          <br><br>
                          <div class="row justify-content-center">
                          <div class="text-center col-7">
                              <h5 class="text-center purple-text">You Have Successfully Submitted</h5>
                          </div>
                          </div>
                      </div>
                  </fieldset>
              </form>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}